{% set current_lang = config.default_language %}
{% if page %}
  {% set current_lang = page.lang %}
{% elif section %}
  {% set current_lang = section.lang %}
{% endif %}
{% if config.extra.header_nav %}
<nav id="nav-bar" class="bg-neutral p-4 flex justify-center space-x-4 text-2xl">
  {% for nav_item in config.extra.header_nav %}
    <a href="{{ nav_item.url }}" class="link link-hover link-accent font-bold">
      {% set language_key = 'name_' ~ current_lang %}
      {{ nav_item[language_key] }}
    </a>
  {% endfor %}
</nav>
{% endif %}

